* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #0060B1;
}

header > h1 {
    font-size: 2.5rem;
    color: #fdfdfd;
    text-decoration: underline;
}

header button {
    border: none;
    border-radius: 20px;
    background-color: #fdfdfd;
    cursor: pointer;
    position: relative;
    left: 190px;
}

header button:hover {
    transition: all 0.3s;
    transform: scale(1.1);
    background-color: #9fb9cf;
}

header button > img {
    width: 28px;
    margin: 8px 12px 8px 12px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;

}

li:hover {
    transition: all 0.3s;
    transform: scale(1.15);
}

a {
    margin-left: 20px;
    font-size: 1.25rem;
    text-decoration: none;
    color: #fdfdfd;
}

a:hover {
    color: #9fb9cf;
    transition: all 1s;
}